{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="mb-4 text-center">Créer un compte</h2>
                    <form method="POST" action="{{ url_for('main.register') }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control", placeholder="Nom d'utilisateur") }}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control", placeholder="Mot de passe") }}
                        </div>
                        <div class="d-grid">
                            {{ form.submit(class="btn gradient-button") }}
                        </div>
                    </form>
                    <div class="mt-3 text-center">
                        <a href="{{ url_for('main.index') }}">Déjà un compte ? Se connecter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
